<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Azure and the app is called: <%= appName %></p>
    <p> This new change was added via a CI/CD pipeline </p>
  </body>
</html>
